#report_selector_area{
    background-color: darkgray;
    padding-top:10px;
    padding-bottom:10px;
}

.rw-report-complete {
    border-left-color: lightgreen;
    border-left-width: 5px;
}

.rw-compact-commentbank-comment{
    background-color: white;
    color:black;
    /*font-size:small;*/

}

.rw-compact-commentbank-comment:hover{
    background-color: whitesmoke;
}