<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ReportWriter</title>
    <script src="/static/js/rw_editor.js" type="application/javascript"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/style/rw.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/site.webmanifest">

</head>

<body>
<div class="w3-container">
    <div class="w3-panel w3-green"><h1>ReportWriter</h1>
        <p>Data-driven, targeted student reporting made easy</p></div>

    <strong>Welcome to ReportWriter!</strong>
    <p>To keep things simple and secure, ReportWriter doesn't save any of your or your students' data, so there are no
        accounts or logins required.</p>
    <p>Instead, to get started simply download the Excel template, add your students' data, save and then upload your
        saved
        template. Your reports will then open in the ReportWriter editor, where you can setup your comment bank and
        write
        your reports!</p>
    <p>When you are finished writing your reports, simply choose 'Save report set' from the 'Menu' drop-down to
        download an updated version of the Excel template which you can re-upload in future to carry on where you left
        off.</p>
    <p>If you'd like more help with using ReportWriter, you can <a href="/userguide" target="_blank">access the User Guide here</a>.</p>
    <hr>
    <h2>Let's get started!</h2>


    <div class="w3-row-padding">
        <table class="w3-center w3-margin-bottom" style="width: 100%">
            <tr style="vertical-align:top">
                <td class="w3-half">
                    <h3>Step 1</h3>
                    <p>Download a blank template</p>
                    <button class="w3-button w3-green" onclick="window.location.href='/get_template';">
                        Download template
                    </button>
                </td>
                <td class="w3-half">
                    <h3>Step 2</h3>
                    <p>Upload a report set (Excel .xlsx format)</p>
                    <form id="upload_report_set_form" method="post">
                        <!--action="/upload_report_set" enctype="multipart/form-data"> -->


                        <input type="file" id="report_set_file" name="report_set_file"
                               accept="application/vnd.ms-excel,.xlsx">

                        <input type="button" id="upload_report_set_button" class="w3-button w3-blue" value="Upload"
                               onclick="upload_report_set()">
                    </form>
                </td>
            </tr>

        </table>

        <!--
        <div class="w3-cell w3-half w3-section">
            <h3>Step 1</h3>
            <button class="w3-button w3-green w3-section" onclick="window.location.href='/get_template';">Download a
                blank
                template
            </button>
        </div>

        <div class="w3-cell w3-half w3-cell-middle">
            <h3>Step 2</h3>
            <p>Upload a started report set (.xlsx)</p>
            <form id="upload_report_set_form" method="post" action="/upload_report_set" enctype="multipart/form-data">
                <input type="file" id="report_set_file" name="report_set_file" class=""
                       accept="application/vnd.ms-excel,.xlsx">

                <input type="button" id="upload_report_set_button"  class="w3-button w3-blue" value="Upload" onclick="upload_report_set()">
            </form>

        </div>
        -->

    </div>

    {% for message in get_flashed_messages() %}
        <p class="w3-container w3-pale-red w3-leftbar w3-border-red w3-padding">{{ message }}</p>
    {% endfor %}

    <hr>
    <div>
        <h4>Using the AEAS?</h4>
        <p>Use <span style="text-decoration: underline; cursor: pointer" onclick="show_hide_aeas_modal('show')">this AEAS converter tool</span>
            to convert your AEAS
            spreadsheet into a ReportWriter template, ready for report writing!</p>

    </div>

    <!-- AEAS modal -->
    <div id="aeas_modal" class="w3-modal">
        <div class="w3-modal-content w3-padding">
            <div class="w3-container">
                <span onclick="show_hide_aeas_modal('hide')" class="w3-button w3-display-topright">&times;</span>
                <h3 id="aeas_modal_title">AEAS converter</h3>
                <div id="aeas_processing_indicator" class="w3-center w3-margin-top w3-hide">
                    <p>Processing (this might take quite a few seconds)...</p><br>
                    <img src="/static/assets/loading.gif" class="w3-margin-bottom">
                </div>
                <div id="aeas_modal_content">
                    <div class="w3-cell-row w3-margin-bottom">
                        <p>If you have an AEAS spreadsheet that you'd like to use as the basis of your reports you can
                            upload and
                            convert it to a ReportWriter template here.</p>
                    </div>
                    <div class="w3-row w3-margin-bottom">

                        <form id="aeas_upload_form" action="/upload_aeas" method="post" enctype="multipart/form-data">

                            <input type="file" id="aeas_file" name="aeas_file" class="w3-input"
                                   accept="application/vnd.ms-excel,.xlsm">
                            <br>
                            <input type="button" class="w3-button w3-blue" value="Upload AEAS"
                                   onclick="aeas_upload_handler()">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Upload progress modal -->
    <div id="upload_progress_modal" class="w3-modal">
        <div class="w3-modal-content w3-padding">
            <div class="w3-container w3-center">
                <p>Uploading and building your report set</p><br>
                <img src="/static/assets/loading.gif" class="w3-margin-bottom">
            </div>

        </div>
    </div>


</div>
</body>
</html>